<?xml version="1.0"?>
<SiteInfo>
    <DisplayName>SusuCms</DisplayName>
    <Description>SusuCms</Description>
    <ModuleNames>
        <string>Blog</string>
    </ModuleNames>
    <DefaultTheme>Blue</DefaultTheme>
    <DefaultPages>
        <PageInfo>
            <Name>Home</Name>
            <Template>Home</Template>
            <Url>home</Url>
            <IsHomePage>true</IsHomePage>
        </PageInfo>
    </DefaultPages>
    <DefaultMenus>
        <MenuInfo>
            <Name>Home</Name>
            <Url>home</Url>
        </MenuInfo>
    </DefaultMenus>
</SiteInfo>