<?xml version="1.0"?>
<SiteInfo>
    <DisplayName>LengXiaoHua</DisplayName>
    <Description>Suhow.</Description>
    <ModuleNames>
        <string>Blog</string>
    </ModuleNames>
    <DefaultTheme>Default</DefaultTheme>
    <DefaultPages>
        <PageInfo>
            <Name>Home</Name>
            <Template>Template1</Template>
            <Url>index</Url>
            <IsHomePage>true</IsHomePage>
            <IsOnline>true</IsOnline>
        </PageInfo>
    </DefaultPages>
    <DefaultMenus>
        <MenuInfo>
            <Name>Home</Name>
            <Url>index</Url>
        </MenuInfo>
    </DefaultMenus>
</SiteInfo>