<div id="footer">
    <div class="inner">
        <div class="left">
            <h5>
                @SiteLabel("© SusuCMS 2012")</h5>
            <p>
                @SiteLabel("Site Design and Development")</p>
        </div>
    </div>
</div>
