<div id="footer-content">
    <div class="bgtop">
    </div>
    <div class="content-bg">
        <div id="column1">
            <div class="box1">
                <h2>
                    Contact Information</h2>
                <p>
                    Hours: 10:00-20:00 (GMT +2)<br />
                    Phone: +380(50)170-39-81<br />
                    Location: 79053, Ukraine,<br />
                    21 Perfetskogo str., Lviv
                </p>
            </div>
            <div class="box2">
                <h2>
                    Our proposal</h2>
                <p>
                    We are providing creative and efficient software development services If you are
                    feeling we can help you or your business please contact as by email sales@hellowebapps.com
                    or by our contact form</p>
            </div>
        </div>
        <div id="column2">
            <div class="box3">
                <h2>
                    Latest posts</h2>
                <p>
                    Mauris consectetur magna tempus enim sagittis et bibendum lacus et imperdiet. Maecenas
                    semper et massa amet et odio mauris dui, id luctus amet ligula.</p>
            </div>
        </div>
    </div>
    <div class="bgbottom">
    </div>
</div>
<div id="footer">
    <p>@SiteLabel("&copy Your Website Name") | Maximus4T by <a href="http://www.4templates.com/free/">
        4Templates</a> | Photos by <a href="http://fotogrph.com/">Fotogrph</a></p>
</div>
