<?xml version="1.0"?>
<SiteInfo>
    <DisplayName>tools.susucms.com</DisplayName>
    <Description>tools.susucms.com</Description>
    <ModuleNames>
        <string>Blog</string>
    </ModuleNames>
    <DefaultTheme>Default</DefaultTheme>
    <DefaultPages>
        <PageInfo>
            <Name>Home</Name>
            <Template>Default</Template>
            <Url>home</Url>
            <IsHomePage>true</IsHomePage>
        </PageInfo>
    </DefaultPages>
    <DefaultMenus>
        <MenuInfo>
            <Name>Home</Name>
            <Url>home</Url>
        </MenuInfo>
        <MenuInfo>
            <Name>Online tools</Name>
            <Url>tools</Url>
        </MenuInfo>
        <MenuInfo>
            <Name>Online query</Name>
            <Url>query</Url>
        </MenuInfo>
        <MenuInfo>
            <Name>Contact</Name>
            <Url>contact</Url>
        </MenuInfo>
    </DefaultMenus>
</SiteInfo>